[textdomain]
	name="wesnoth-Marbuss_Escape"
	path="data/add-ons/Marbuss_Escape/translations"
[/textdomain]

[campaign]
#textdomain wesnoth-Marbuss_Escape
	id = MARBUSS_ESCAPE
	name = _ "Marbus's Escape"
	abbrev = "ME"
	define = CAMPAIGN_MARBUSS_ESCAPE
	icon =units/orcs/sovereign.png~RC(magenta>black)	# TODO: zmien
	image =data/campaigns/Son_Of_The_Black_Eye/images/portraits/shan_taum.png		# TODO: zmien
	description = _"Many years have passed since the time orcs intimidated elves, humans and dwarves. Many years have passed since they ventured to walk in the Wesnoth land. Many years have passed since the time they were filthy rich. Amongst the survived orcish clans, there was a small Marbus's clan. Even too small to have a name. Will the orcs endure the destruction that is covering bigger and bigger part of the north?"
	difficulties=EASY,NORMAL,HARD
	difficulty_descriptions={MENU_IMG_TXT2 "units/orcs/leader.png~RC(magenta>black)" _"Civilian" _"(easy)"} +
	";" + {MENU_IMG_TXT2 "units/orcs/ruler.png~RC(magenta>black)" _"Soldier" _"(normal)"} +
	";" + {MENU_IMG_TXT2 "units/orcs/sovereign.png~RC(magenta>black)" _"Veteran" _"(hard)"}
	first_scenario=01_Bag-not_Under_Attack
[/campaign]

#ifdef CAMPAIGN_MARBUSS_ESCAPE
	[binary_path]
		path = data/add-ons/Marbuss_Escape/
	[/binary_path]
	{~add-ons/Marbuss_Escape/utils}
	{~add-ons/Marbuss_Escape/scenarios}
	{~add-ons/Marbuss_Escape/maps}
	[+units]
		{~add-ons/Marbuss_Escape/units}
	[/units]
#endif
 
