#textdomain wesnoth-Marbuss_Escape
#define DEATH_EVENT_MARBUS
	[event]
		name = last breath
		[filter]
			id = Marbus
		[/filter]
		{MESSAGE Marbus () () _"Um... I am dying"}
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define DEATH_EVENT_KOCHAN
	[event]
		name = die
		[filter]
			id = Kochan
		[/filter]
		{MESSAGE Marbus () () _"No! I will not be able to lead the clan without Kochan!"}
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define DEATH_EVENT_KRULL_EMBORGI
	[event]
		name=last breath
		[filter]
			id=Krull
		[/filter]
		{MESSAGE Krull () () _"Trolls not survive... by themselves..."}
	[/event]
	[event]
		name=die
		[filter]
			id=Krull
		[/filter]
		{MESSAGE Marbus () () _"Without this troll we won't manage to lead his herd to fight! It's over..."}
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	[event]
		name=last breath
		[filter]
			id=Emborgi
		[/filter]
		{MESSAGE Emborgi () () _"I'm dying... My vision is blurred, my blood stopped flowing in my veins. It's time for me... The time... I'm leaving..."}
	[/event]
	[event]
		name=die
		[filter]
			id=Emborgi
		[/filter]
		{MESSAGE Marbus () () _"Without her we won't reclaim the motherland of saurians! Everything is lost!"}
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define DEATH_EVENT_SYLVIANNA
	[event]
		name = die
		[filter]
			id = Sylvianna
		[/filter]
		{MESSAGE Marbus () () _""}
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define DEATH_EVENT_GEWOLD
	[event]
		name = last breath
		[filter]
			id = Gewold
		[/filter]
		{MESSAGE Gewold () () _"What... For the Horde...? I can't die... Orcs... won't manage... without me!"}
	[/event]
	[event]
		name = die
		[filter]
			id = Gewold
		[/filter]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define DEATH_EVENT_WOLF
	[event]
		name = die
		[filter]
			id=petwolf
		[/filter]
		{MESSAGE Kochan () () _"Oh no! They killed my dear pet! We must avenge him!"}
	[/event]
#enddef
#define DEATH_EVENT_SYLVIANNA_ALT
	[event]
		name = last breath
		[filter]
			id = Sylvianna
		[/filter]
		{MESSAGE Sylvianna () () _""}
	[/event]
#enddef
#define DEATH_EVENT_KOCHAN_ALT
	[event]
		name = die
		[filter]
			id = Kochan
		[/filter]
		{MESSAGE Marbus () () _"Rest in peace, Kochan. I wouldn't have went this far, if not for you."}
	[/event]
#enddef
#define DEATH_EVENT_KRULL_EMBORGI_ALT
	[event]
		name=last breath
		[filter]
			id=Krull
		[/filter]
		{MESSAGE Krull () () _"Ugh... Mine heart... Mine liver... Mine intestines... It be my end... But wise orc shall lead... Shall he lead the whelps... They must to live."}
	[/event]
	[event]
		name=die
		[filter]
			id=Krull
		[/filter]
		{MESSAGE Marbus () () _"Farewell, Krull the Rock. Your sacrifice won't come in vain... And now, to the battle, orcs! May we honour his memory in fight!"}
		{MESSAGE petwolf () () _"Warf! Warf!"}
		{MESSAGE Sylvianna () () _"He was a mighty warrior on the land... Let his soul drift with the flow of troll rivers."}
	[/event]
	[event]
		name=last breath
		[filter]
			id=Emborgi
		[/filter]
		{MESSAGE Emborgi () () _"I'm dying... My sight is weakening... The only thing I can see in the future... Is death..."}
	[/event]
	[event]
		name=die
		[filter]
			id=Emborgi
		[/filter]
		{MESSAGE Marbus () () _"Farewell, augur. Your sacrifice won't come in vain. I will lead your saurians to a new, better life."}
		{MESSAGE Sylvianna () () _"Her wisdom and venerablity were admirable... I am glad that we had the opportunity to fight at her side."}
	[/event]
#enddef
#define BASIC_DEATH_EVENTS
{DEATH_EVENT_MARBUS}
{DEATH_EVENT_KOCHAN}
#enddef
#define STANDARD_DEATH_EVENTS
{DEATH_EVENT_MARBUS}
{DEATH_EVENT_KOCHAN}
{DEATH_EVENT_WOLF}
{DEATH_EVENT_GEWOLD}
#enddef
#define TIME_OVER_DIALOG
	[event]
		name = time over
		{MESSAGE Marbus () () _"Nooo... Now we will not save our clan!"}
	[/event]
#enddef
#define MARBUS_LOSE_OBJECTIVE
			[objective]
                description=_ "Death of Marbus"
                condition=lose
            [/objective]
#enddef
#define KOCHAN_LOSE_OBJECTIVE
            [objective]
                description=_ "Death of Kochan"
                condition=lose
            [/objective]
#enddef
#define KRULL_EMBORGI_LOSE_OBJECTIVE
			[objective]
				description=_ "Death of Krull the Rock"
				condition=lose
				[show_if]
					[have_unit]
						id=Krull
						search_recall_list=yes
					[/have_unit]
				[/show_if]
			[/objective]
			[objective]
				description=_ "Death of Emborgi-Tarash"
				condition=lose
				[show_if]
					[have_unit]
						id=Emborgi
						search_recall_list=yes
					[/have_unit]
				[/show_if]
			[/objective]
#enddef
#define SYLVIANNA_LOSE_OBJECTIVE
			[objective]
                description=_ "Death of Sylvianna"
                condition=lose
            [/objective]
#enddef
#define GEWOLD_LOSE_OBJECTIVE
			[objective]
                description=_ "Death of Gewold"
                condition=lose
            [/objective]
#enddef
#define BASIC_LOSE_OBJECTIVES
{MARBUS_LOSE_OBJECTIVE}
{KOCHAN_LOSE_OBJECTIVE}
#enddef
#define STANDARD_LOSE_OBJECTIVES
{MARBUS_LOSE_OBJECTIVE}
{KOCHAN_LOSE_OBJECTIVE}
{GEWOLD_LOSE_OBJECTIVE}
#enddef
